BasedOnStyle: WebKit
Standard: c++17
ColumnLimit: 100
PointerBindsToType: false
SpaceAfterTemplateKeyword: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  IndentBraces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 8
NamespaceIndentation: None
IndentPPDirectives: AfterHash
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
FixNamespaceComments: true
ShortNamespaceLines: 1
AlignEscapedNewlines: Left
SpaceBeforeCpp11BracedList: false
